pagenote-description,pagenote-lights,pagenote-light,pagenote-light-ref,pagenote-light-anotation,pagenote-snapshots,pagenote-infos,pagenote-dot,pagenote-line,pagenote-block,pagenote-progress,pagenote-progress-percent{
  display: block;
  box-sizing: border-box;
}
pagenote-span{
  display: inline;
}

pagenote-action-group{
  display: block;
}

pagenote-icon{
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;

  &:hover{
    background: #fff;
    box-shadow: 0 1px 3px 1px rgba(60,64,67,.15), 0 1px 2px 0 rgba(60,64,67,.3);
  }
}


pagenote-aside{
  position: fixed;
  right: 2px;
  z-index: 99991;
  top: 0;
  width: 200px;
  user-select: none;
  background: #fff;
  transition: width 0.2s ease-out;
  border-radius: 4px;
  line-height: 1.414em;
  &[data-status="expand"]{
    border: none;
    width: 18px;
    height: 100%;
    background: transparent;
    pagenote-actions{
      background: none;
      padding: 0;
    }
    pagenote-infos,pagenote-description{
      display: none;
    }
    pagenote-action-group{
      display: none;
    }
    pagenote-action[data-action=toggle]{
      //position: absolute;
      top: 34px;
      right: auto;
      margin: 0;
    }
    pagenote-lights{
      left: -1px;
      overflow: visible;
    }
  }
  &:hover{
    pagenote-actions,pagenote-description,pagenote-infos{
      opacity: 1;
    }
  }
}

pagenote-actions,pagenote-description,pagenote-infos{
  opacity: 0;
  transition: opacity 0.5s;
}

pagenote-actions{
  box-sizing: border-box;
  position: relative;
  display: flex;
  padding: 4px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
  //border-bottom: 1px solid #f3f3f3;
  //text-shadow: 1px 1px 3px rgba(0,0,0,.3);
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
  //background-color: #3a3a3a;
  //border-radius: 4px 4px 0 0;
  //border-left: 10px outset #222;

  pagenote-action {
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-size: contain;
    &[data-action=toggle]{
      position: absolute;
      right: 0;
    }
  }
}

pagenote-description{
  padding: 6px 0;
  color: #8f959e;
  font-size: 12px;
  line-height: 1.414em;
  max-height: 2.828em;
  overflow: hidden;
  text-overflow: ellipsis;
}

pagenote-lights{
  max-height: 78vh;
  overflow: auto;
  padding-left: 6px;
  left: -6px;
  position: relative;
  pagenote-line-container{
    display: block;
    font-size: 12px;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 20px;
    text-align: left;
    cursor: pointer;
    //border-left: 2px solid var(--color);
    box-sizing: border-box;
    //background-color: rgba(0,0,0, 0.02);
    border-radius: 4px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    transition: all 0.3s ease-in-out;
    &:hover{
      user-select: auto;
      z-index: 2 !important;
    }
  }

  pagenote-dot-container{
    position: absolute;
    &:hover{
      z-index: 9999;
      pagenote-light-ref-dot{
        display: block;
      }
    }
    pagenote-light-ref-dot{
      display: none;
      position: absolute;
      width: 200px;
      top: -10px;
      right: -4px;
      font-size: 12px;
      background: #ffff;
      box-shadow: rgba(168, 182, 191, 0.6) 0px 10px 20px 0px;
      padding: 6px 12px 6px 6px;
      border-radius: 4px;
      z-index: 1;
    }
    pagenote-dot{
      position: relative;
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      z-index: 2;
      background: #fff;
      border: 1px solid #999;
    }

    &[data-insign="1"]{
      pagenote-dot{
        border-color: var(--color);
      }
    }

    &[data-active='1'][data-insign="1"]{
      pagenote-dot{
        background: var(--color);
        border-color: transparent;
      }
    }
  }
}

pagenote-infos{
  padding: 6px;
}

pagenote-snapshots{
  margin: 6px 0;
  pagenote-snapshot{
    display: inline-block;
    position: relative;
    &:hover{
      pagenote-icon{
        display: block;
      }
    }

    pagenote-icon{
      position: absolute;
      top: 28px;
      left: 7px;
      display: none;
    }
    img{
      width: 30px;
      height: 30px;
      cursor: zoom-in;
      border-radius: 4px;
    }
  }
}



