registry=https://registry.npmjs.org
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
canvas_binary_host_mirror=https://registry.npmmirror.com/-/binary/canvas
sass_binary_site=http://cdn.npm.taobao.org/dist/node-sass
