@import "../../assets/styles/variable";

//pagenote-aside:hover {
//  pagenote-light-highlight{
//    opacity: 1;
//  }
//}

pagenote-ref-anotation{
  position: relative;
  display: block;
  color: $ref-default-fontcolor;
  &:hover{
    color: $ref-hover-color;
  }

  pagenote-light-ref{
    position: relative;
    line-height: 1.4em;
    max-height: 2.8em;

    pagenote-light-highlight{
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 170px;
      transition: opacity 0.5s;
      opacity: 0;
    }
    pagenote-tag{
      background: #00bdb8;
    }
  }
  pagenote-light-anotation{
    height: 0;
    margin-top: 4px;
    padding: 0 6px 0 24px;
    color: $anotation-fontcolor;
    line-height: 1.4em;
    max-height: 2.8em;
    overflow: hidden;
    transition: all 0.5s;
  }

  &[data-insign="1"]{
    pagenote-light-anotation{
      height: auto;
    }
    pagenote-light-ref{
      font-weight: 500;
      &:before{
        border-color: var(--color);
      }
    }
    pagenote-light-highlight{
      opacity: 1;
    }
  }

  &[data-founded='0']{
    pagenote-light-highlight{
      pagenote-light-inner{
        text-decoration: line-through;
      }
    }
  }
}

