@import "../../assets/styles/variable";

pagenote-ref-anotation{
  position: relative;
  display: block;
  color: $ref-default-fontcolor;
  &:hover{
    color: $ref-hover-color;
    pagenote-light-ref{
      transition-delay: 0.1s;
      max-height: $inf-height;
    }
  }

  pagenote-light-ref{
    position: relative;
    line-height: 1.4em;
    max-height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.8s ease-in-out;
    pagenote-tag{
      background: #00bdb8;
    }
  }

  pagenote-light-anotation{
    margin-top: 4px;
    color: $anotation-fontcolor;
    //line-height: 1.4em;
    //max-height: 2.8em;
    overflow: hidden;
    transition: all 0.5s;
  }

  &[data-insign="1"]{
    //opacity: 1;
    pagenote-light-ref{
      font-weight: 500;
      max-height: $inf-height;
    }
  }

  &[data-founded='0']{
    pagenote-light-highlight{
      pagenote-light-inner{
        text-decoration: line-through;
      }
    }
  }
}

