@import "../../assets/styles/variable";

pagenote-light-aside-ref{
  position: relative;
  display: block;
  color: $ref-default-fontcolor;
  line-height: 1.4em;
  max-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  //transition: all 0.8s ease-in-out;
  &:hover{
    color: $ref-hover-color;
  }

  &[data-insign="1"]{
    max-height: $inf-height;
  }

  &[data-founded='0']{
    pagenote-light-highlight{
      pagenote-light-inner{
        text-decoration: line-through;
      }
    }
  }

  pagenote-light-highlight{
    white-space: nowrap;
  }

  pagenote-light-anotation{
    color: $anotation-fontcolor;
  }
}

