pagenote-toggle-all{
  display: inline-block;
  svg{
    border: 1px solid #b9b9b9;
    border-radius: 50%;
  }
  &[data-run='1']{
    animation: run-lights 1s linear infinite forwards;
  }
}
@keyframes run-lights {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
