/**override default notion style*/


/**删除padding值，会导致网页都出现滚动条- 尽管网页内容并未超过视口。 todo pull a mr */
.notion > * {
  padding: 0 !important;
}

summary{
  .notion-h {
    width: 90% !important;
  }
}


.notion-h {
  width: 100% !important;
}


.notion-app .breadcrumbs {
  /*overflow: hidden;*/
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
}


.notion-header .breadcrumb .title {
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.notion-page-icon-hero {
  margin-left: unset !important;
  left: calc(min(16px, 8vw)) !important;
}

.notion-full-width .notion-page-icon-hero {
  left: calc(min(96px, 8vw)) !important;
}

blockquote.notion-quote{
  font-size: 0.9em;
}

@media screen and (max-width: 920px) {
  .notion-page-cover-wrapper {
    height: 200px !important;
    max-height: 200px !important;
    min-height: 200px !important;
  }
  .notion-page-cover-wrapper img.notion-page-cover {
    height: 200px !important;
    max-height: 200px !important;
    min-height: 200px !important;
  }
}

@media screen and (min-width: 1200px) {
  .notion-table-of-contents.notion-gray {
    position: fixed;
    left: 40px;
    max-width: calc(50% - 390px);
  }
}

@keyframes highlightFadeOut {
  0% {
    background-color: rgb(214, 196, 93); /* 初始高亮背景颜色 */
  }
  100% {
    background-color: transparent; /* 最终透明背景 */
  }
}

.highlight-hash{
  animation: highlightFadeOut 3s ease-out forwards;
  outline: 1px solid #fff; 
}
