.swiper-pagination{
    --swiper-pagination-bullet-horizontal-gap: 2px;
    --swiper-pagination-bullet-inactive-color:  rgba(86, 86, 86, 0.8);
    --swiper-pagination-color: rgba(0,0,0,0.5);
    --swiper-pagination-bullet-width: 18px;
    --swiper-pagination-bullet-height: 4px;
    --swiper-pagination-bullet-border-radius: 2px;
}