@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  @keyframes laoding {
    0%{
      @apply bg-gray-200
    }
    50%{
      opacity: 0.5;
    }
    100%{
      @apply bg-gray-200
    }
  }
  .loading-block {
    // @apply animate-pulse;
    animation: laoding 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    animation-delay: 300ms;

    & > * {
      @apply invisible;
    }
  }
}

:root {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}

* {
  border-color: hsl(var(--border))
}


a.more,.a{
  cursor: pointer;
 color: #4682e3;
  //text-decoration: underline;
  &:hover{
    text-decoration: underline;
  }
}


