$target-default-color: #e5e5e5;
$target-outline-color: #000;

$ref-default-fontcolor: #535353;
$ref-hover-color: #333;

$anotation-fontcolor: #646a73;

$inf-height: 999px;

$notification-index: 99999;
$actions-index: 9999;
$modal-index: 999;