@keyframes annotation-out {
  0%{
    pointer-events: unset;
  }
  100%{
    pointer-events: none;
  }
}

pagenote-annotation{
  display: block;
  width: auto !important;
  min-width: 200px;
  max-width: 350px;
  height: auto;
  font-size: 14px;
  color: #333;
  &:hover{
    z-index: 1;
  }
  pagenote-annotation-inner{
    display: block;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    background: rgba(255, 255, 255, 0.95);
    border-top: 4px solid var(--color);
    &[data-visiable='0']{
      transition: 0.5s ease-in-out;
      opacity: 0;
      //transition-delay: 0.5s;
      pointer-events: none;
    }
    &[data-visiable='1'],&:focus,&:hover{
      transition: 0.5s ease-in-out;
      opacity: 1;
      pointer-events: unset;
    }

    pagenote-annotation-menus{
      display: flex;
      justify-content: space-between;
      width: 100%;
      box-sizing: border-box;
      cursor: move;
      padding: 2px;
      &:hover{
        background: #f7f6f6;
      }
    }
    pagenote-block[data-role="custom-content"],pagenote-block[data-role="annotation-editor"]{
      font-size: 12px;
      color: #666;
      padding: 4px 10px;
      img{
        max-width: 100%;
      }
    }
    pagenote-block[data-role="annotation-editor"]{
      padding: 0 10px;
      &:focus-visible{
        outline: unset;
      }
      &[contenteditable='true']{
        outline: 1px solid var(--color);
      }
    }

    pagenote-icon{
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 6px;
      box-shadow: none;
      svg{
        width: 16px;
        height: 16px;
      }
      &:hover{
        //background-color: var(--color);
      }
    }
  }
}