

@keyframes zoomIn {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}


@keyframes tool-in {
  0%{
    opacity: 0;
  }
  1%{
    display: block;
  }
  100%{
    opacity: 1;
    transform: translate(0,0);
  }
}

@keyframes light {
  0%{
    background-size: 100% 2px;
  }
  //15%{
  //    background-size: 100% calc(1em*2);
  //}
  //30%{
  //    background-size: 100% 2px;
  //}
  //20%{
  //    background-size: 100% calc(1em*2);
  //}
  //40%{
  //    background-size: 100% 2px;
  //}
  100%{
    background-size: 100% calc(1em*2);
  }
}


@keyframes point-notifi{
  0% {
    opacity: 0.3;
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes light-point {
  0% {
    box-shadow: 0px 0px 1px 2px #fff;
    /*filter: hue-rotate(0deg);*/
  }

  100% {
    box-shadow: 0px 0px 2px 2px rgba(199, 198, 198, 0.52);

    /*filter: hue-rotate(360deg);*/
  }
}

@keyframes fade_out_none {
  0%{
    //width: 100%;
    //height: 100%;
    //transform: scale(1);
    right: initial;
  }
  100%{
    right: -160px;
  }
}

@-webkit-keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(-360deg);
  }
}

@keyframes :global(shine-light) {
  0% {
    left: 100%;
    top: 100%;
    filter: hue-rotate(0deg);
  }
  10%{
    width: 8px;
    height: 8px;
  }
  45%{
    left: 0;
    top:100%;
  }
  50%{
    left: 0;
    top: 0;
  }
  90%{
    left: 100%;
    top: 0;
    width: 8px;
    height: 8px;
  }
  100%{
    left: 100%;
    top: 100%;
    filter: hue-rotate(-360deg);
  }
}

@keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}