body{
    padding: 0;
    font-size: 14px;
    background-color: rgb(248, 249, 250);
}
.desc-container{
    /*width: 70%;*/
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    font-family: serif;
}
a.language{
    padding: 2px;
    color: #03A9F4;
    text-decoration: none;
}
a.language.active{
    background-color: #03A9F4;
    color: #fff;
}
.slogan{
    display: inline-block;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 3.44rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    border-radius: 8px;
    border: 1px solid #48d4e6;
    background-color: #48d4e6;
}
.slogan .light-name{
    color: #fff;
}
.slogan .common-des{
    display: inline-block;
    background-color: #fff;
}
.pagenote-description{
    font-size: 1.19rem;
    line-height: 1.6em;
    font-weight: bold;
}

.extension-btns{
    text-align: center;
    margin: 2em;
}
a.browser-install-btn{
    display: none;
    margin: 0 1em;
    padding: 6px 24px;
    font-size: 1.4em;
    border-radius: 24px;
    box-shadow: 0 4px 10px 0 rgba(39, 43, 49, 0.2);
    background-color: #00bdb8;
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
    white-space: nowrap;
}
a.browser-install-btn.firefox{
    background-color: #FF5722;
}
a.browser-install-btn:hover{
    opacity: 0.85;
}

.steps{
    margin: 2em 0;
}

.have-try{
    text-align: center;
}
.have-try .demo-show{
    height: 260px;
    background: rgb(248, 249, 250);
    /*background-image: url("https://addons.cdn.mozilla.net/user-media/previews/full/234/234253.png?modified=1586014931");*/
}

.desc-box{
    margin: 80px 0;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    font-size: 1.14em;
}
.desc-box .left-desc,.desc-box .right-text{
    width: 50%;
    flex-shrink: 1;
    margin: 0 24px;
    box-sizing: border-box;
}
.desc-box .left-desc{
    padding: 1em;
    border: 1px dashed #03A9F4;
    font-size: 12px;
    border-radius: 12px;
    background-color: #fff;
}
.section-text h2{
    font-size: 38px;
    border-bottom: 0;
    cursor: pointer;
    transition: all 0.1s;
}
.section-text h2:hover{
    border-bottom: 2px solid #c8a6ff;
}

footer{
    text-align: center;
}