

pagenote-ref-anotation{
  position: relative;
  display: block;
  color: #1f2329;
  pagenote-light-ref{
    position: relative;
    //opacity: 0.8;
    padding: 0 6px;
    line-height: 1.4em;
    max-height: 2.8em;
    //overflow: hidden;
    &:before{
      content: '';
      width: 1px;
      height: 100%;
      background: var(--fill-color);
      display: block;
      position: absolute;
      left: -3px;
      border: 1px solid #bbbfc4;
      //border-left: 1px solid #bbbfc4;
      //border-bottom: 1px solid #bbbfc4;
    }
  }
  pagenote-light-anotation{
    margin-top: 4px;
    padding: 0 6px;
    color: #646a73;
    line-height: 1.4em;
    max-height: 2.8em;
    overflow: hidden;
  }

  pagenote-light-actions{
    position: absolute;
    right: 0;
    top:0;
    background: #fff;
    box-shadow: 0px 0px 1px 1px #f5f5f5;
    display: none;
    &:hover{
      display: block;
    }
  }

  &[data-insign="1"]{
    pagenote-light-ref{
      font-weight: 500;
      &:before{
        border-color: var(--color);
      }
    }
  }

  &:hover{
    //color: #000;
    pagenote-light-actions{
      display: block;
    }
  }
}

