

pagenote-ref-anotation{
  position: relative;
  padding: 0 6px;
  display: block;
  color: #666;
  pagenote-light-ref{
    font-weight: 500;
    //opacity: 0.8;
    line-height: 1.4em;
    max-height: 2.8em;
    overflow: hidden;
  }
  pagenote-light-anotation{
    margin-top: 4px;
    opacity: 0.8;
    //color: #666;
    line-height: 1.4em;
    max-height: 2.8em;
    overflow: hidden;
  }

  pagenote-light-actions{
    position: absolute;
    right: 0;
    top:0;
    display: none;
  }

  &[data-insign="1"]{
    color: #111;
    &:before{
      content: '';
      width: 1px;
      height: 100%;
      background: var(--color);
      display: block;
      position: absolute;
      left: -1px;
    }
  }

  &:hover{
    color: #000;
    pagenote-light-actions{
      display: block;
    }
  }
}

