pagenote-progress{
  width: 14px;
  height: 100%;
  // background: #e4a8a8;
  position: absolute;
  left: -20px;
  top: 0;
  pagenote-progress-percent{
    border-radius: 6px;
    transition: width 0.1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #d6d4d4;
    padding: 0 2px;
    background: #fff;
    svg{
      cursor: pointer;
      fill: rgb(143, 143, 143);
      // background: #f1f1f1;
      padding: 2px;
      border-radius: 4px;
    }
  }
}
