pagenote-annotation{
  display: block;
  width: auto !important;
  min-width: 200px;
  max-width: 350px;
  height: auto;
  font-size: 14px;
  color: #333;
  &:hover{
    z-index: 1;
  }
  pagenote-annotation-inner{
    padding: 4px;
    display: block;
    border-radius: 6px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
    background: rgba(255, 255, 255, 0.95);
    &[data-visiable='0']{
      transition: 0.5s ease-in-out;
      opacity: 0;
      pointer-events: none;
    }
    &[data-visiable='1']{
      transition: 0.5s ease-in-out;
      opacity: 1;
    }

    pagenote-annotation-menus{
      display: block;
      width: 100%;
      cursor: move;
      margin-bottom: 4px;
      &:hover{
        background: #f7f6f6;
      }
    }
    pagenote-block[data-role="custom-content"]{
      img{
        max-width: 100%;
      }

    }
    pagenote-icon{
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background-color: var(--color);
      &:hover{
        background-color: var(--color);
      }
    }
  }

  pagenote-block[aria-controls="light-ref"]{
    font-size: 12px;
    color: #999;
    border-left: 4px solid var(--color);
    padding-left: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}