.box {
    border-radius: 5px;
    /* background: linear-gradient(to right, #abbd73 35%, #d6e2ad 100%); */
    background: #00000085;
    color:#fff;
    box-shadow: 0px 0px 1px 2px #fff;
    transition: background 200ms ease-in-out;
}
.point{
    width: 10px;
    height: 10px;
    position: absolute;
    background: #00000085;
    box-shadow: 0px 0px 0px 1px #fff;
    top: 7px;
    left: -10px;
    border-radius: 5px;
}