.box {
    border-radius: 5px;
    /* background: linear-gradient(to right, #abbd73 35%, #d6e2ad 100%); */
    background: #00000085;
    color:#fff;
    box-shadow: 0px 0px 1px 2px #fff;
    transition: background 200ms ease-in-out;
}
.point{
    width: 10px;
    height: 10px;
    position: absolute;
    background: #00000085;
    box-shadow: 0px 0px 0px 1px #fff;
    top: 7px;
    left: -10px;
    border-radius: 5px;
}
/* .box:hover {
    background: linear-gradient(to right, #abbd73 0%, #abbd73 100%);
} */

/* .shadow:before {
    content: "";
    z-index: -1;
    position: absolute;
    
    bottom: 13px;
    right: 7px;
    width: 75%;
    top: 0;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    transition: all 150ms ease-in-out;
    content:'';
    
    border: 15px solid;  
    border-color:transparent  red  transparent transparent;   
    position: absolute;  
    
} */

/* .shadow:hover::before {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    bottom: 20px;
    z-index: -10;
} */

.box a {
    color: #fff;
    text-decoration: none;
}

.circle {
    position: absolute;
    top: 8px;
    left: 15px;
    border-radius: 50%;
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5), inset 0 0 0 25px antiquewhite;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: right;
}