.box {
    border-radius: 5px;
    /* background: linear-gradient(to right, #abbd73 35%, #d6e2ad 100%); */
    background: #00000085;
    color:#fff;
    box-shadow: 0px 0px 1px 2px #fff;
    transition: background 200ms ease-in-out;
}
.point{
    width: 10px;
    height: 10px;
    position: absolute;
    background: #00000085;
    box-shadow: 0px 0px 0px 1px #fff;
    top: 7px;
    left: -10px;
    border-radius: 5px;
    cursor: pointer;
    transition:0.3s
}
.point:hover{
    transform: scale(2)
}

.menu{
    position:absolute;
    right:0px;
    width: 20px;
    height: 18px;
    transform: scale(1);
    background: #e6e6e6;
    border-radius: 25%;
    text-align:center;
    transition:.5s;
    cursor:pointer;
    box-shadow:0 2px 4px 0 rgba(0,0,0,.04)
}

.stepSign{
    display: block;
    position:absolute;
    right:0;
    top:0;
    width: 8px;
    height: 8px;
    overflow: hidden;
    border-radius: 50%;
    text-align:center;
    transition:.5s;
    cursor:pointer
}