pagenote-description,pagenote-lights,pagenote-light,pagenote-light-ref,
pagenote-light-anotation,pagenote-snapshots,pagenote-infos,pagenote-dot,
pagenote-line,pagenote-block,pagenote-progress,pagenote-progress-percent{
  display: block;
  box-sizing: border-box;
}

pagenote-inline-block{
  display: inline-block;
}

pagenote-span{
  display: inline;
}
pagenote-p{
  display: block;
  margin: 12px 0;
}

pagenote-action-group{
  display: block;
}

pagenote-icon{
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;

  &:hover{
    background: #fff;
    box-shadow: 0 1px 3px 1px rgba(60,64,67,.15), 0 1px 2px 0 rgba(60,64,67,.3);
  }
}

light[data-highlight]{
  position: relative;
  font-size: inherit !important;
  font-family: inherit !important;
  background-image: linear-gradient(to top, rgba(255,222,93,1) 2px, rgba(255,222,93,0.84) 2px);
  background-image: linear-gradient(to top, var(--bgcolor) 2px, var(--bgcolor) 2px);
  background-size: 100% 0px;
  border-bottom: 2px solid  rgba(255,222,93,1);
  border-bottom: 2px solid var(--bgbottomcolor);
  background-repeat: no-repeat;
  background-position: bottom;
  transition: background-size 0.5s ease-out;
  box-sizing: border-box;

  &:hover{
    z-index: 1;
  }
  &[data-active='1']{
    -webkit-text-fill-color: var(--color);
    background-size: 100% calc(1em*2);
    animation: light 0.5s ease-in-out;
    &[data-mask='1']{
      filter: blur(2px);
    }
    &:hover{
      opacity: 0.85;
    }

    &[data-type='img']{
      outline: 1px solid var(--bgcolor);
    }
  }


  &:hover{
    light-actions{
      display: block;
    }
  }

  pagenote-tag-edit{
    display: block;
    width: 100%;
    height: 100%;
  }
  pagenote-tip{
    display: block;
    background: #ffe5b0;
    padding: 8px;
    border: 1px solid #999;
  }
}

pagenote-notification{
  display: inline-block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 2px;
  background: #ffd581;
  color:#000;
  &.success{
    background: #ffd581;
  }
  &.error{
    background: #ff7b82;
  }
  &.fade{
    animation: notification 3s ease-in-out forwards;
  }
}